<div class="post-meta">
  <strong>
    <time>{{ .Date.Format (default "2006-01-02" .Site.Params.dateFmt) }}</time>  
  </strong>
  {{ with .Params.categories }}<span><strong>in</strong></span>{{ end }}
    {{ range $key, $value := .Params.categories -}}
      {{- if $key }}, {{ end }}
      <a href="{{ "/categories/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
    {{- end }}
  {{ with .Params.tags }}
    <div>
      <span>Tags:</span>
      {{ range $key, $value := . }}
        {{- if $key }}, {{ end }}
        <a href="{{ "/tags/" | relLangURL }}{{ $value | urlize }}">{{ . }}</a>
      {{- end }}
    </div>
  {{ end }}
</div>
